header {
    border-bottom: 1px solid #ccc;
    margin-top: 110px;
    padding: 30px;
  }
.button{
    background-color: blue;
    color: white;
    font-size: 20px;
}
.message{
    height: 200px;
}
/* .contact-box {
    display: grid;
    grid-template-columns: auto auto;
    margin: 150px auto;
    padding: 30px;
    width: 900px;
    height: 1100px;
    grid-gap: 5px;
    color: white;
    font-size: 36px;
    text-align: center;
} */
form {
    display: grid;
    grid-template-columns: auto;
    margin: 150px auto;
    padding: 30px;
    width: 400px;
    height: auto;
    grid-gap: 5px;
    background-image: url('../../img/stock2.png');
    color: white;
    font-size: 36px;
}
.response{
    display: grid;
    grid-template-columns: auto;
    margin: 150px auto;
    padding: 30px;
    width: 400px;
    height: 500px;
    grid-gap: 5px;
    background-image: url('../../img/stock2.png');
    color: white;
    font-size: 36px; 
    text-align: center;
    align-content: center;
}